body {
  background-color: #000000;
  font-family: 'Courier New', Courier, monospace;
}
#myvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: blur(7px);
}

.Valikko{
  border: 1px solid black;
}

.Me{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position:relative;
  width: 780px;
  height: 500px;
  margin: 0 auto;
  margin-top: 200px;
  background-color: #ffffff70;
}



.Valikko .btn {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  width: 150px;
  background-color: var(--backround-color);
  color: rgb(245, 245, 245);
  padding: 10px;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  --backround-color: #00000000;

}


.Valikko .btn {
  margin-top: 20px;
  color: #ffffff70;
  transition: all 0.5s;
  position: relative;
}

.Valikko .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}


.Valikko .btn:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}


.Valikko .btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 2px solid #ffffff70;
  transform: scale(1.2,1.2);
}


.Valikko .btn:hover::after {
  opacity: 1;
  transform: scale(1,1);
}


.Valikko .btn.btn-n1{
    float:right;
    margin-right: 10px;
}


.Valikko .btn.btn-n2{
    float:right;
    margin-right: 40px;
}

.Valikko .btn.btn-n3{
    float:right;
    margin-right: 40px;
}

.Valikko .btn.btn-n4{
    float:right;
    margin-right: 40px;
    
}

.Me .Nousu3 .profiilikuva{
  position: relative;
  width: 50px;
  height: 50px;
  float: right;
  margin-right: 100px;
  margin-top: 100px;
}

.h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1cm;
  position: absolute;
  margin-left: 295px;
  margin-top: -60px;
  color: #ffffff70;
}


.Me .Nousu{
  padding-top: 15px;
  font-size: 0.5cm;
  text-align: center;

}

.Me .Nousu2 {
  font-size: 0.5cm;
  text-align: center;
}

.Me .Nousu3{
  font-size: 0.5cm;
  text-align: center;
}

.Nousu {
  animation: 1.5s animaatio-nousu ease-out;
}

.Nousu2 {
  animation: 2s animaatio-nousu ease-out;
}

.Nousu3 {
  animation: 2.5s animaatio-nousu ease-out;
}

@keyframes animaatio-nousu {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

