body {
  background-color: #000000;
  animation-name: sivu;
  transition: opacity 300ms ease-in-out;
  animation-duration: 1s;
}
#myvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: blur(6px);
}

.Valikko{
  border: 1px solid black;
  height: 100px;
  margin-right: 15px;
}


.Linkit{
  position:relative;
  width: 780px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 100%;
}




.Valikko .btn {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  width: 150px;
  background-color: var(--backround-color);
  color: rgb(245, 245, 245);
  padding: 10px;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  --backround-color: #00000000;

}


.Valikko .btn {
  margin-top: 20px;
  color: #ffffff70;
  transition: all 0.5s;
  position: relative;
}



::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100; 
}
 
::-webkit-scrollbar-thumb {
  background: #ffffff70; 
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 53, 53); 
}








.Valikko .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}


.Valikko .btn:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}


.Valikko .btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 2px solid #ffffff70;
  transform: scale(1.2,1.2);
}


.Valikko .btn:hover::after {
  opacity: 1;
  transform: scale(1,1);
  border-radius: 5px;
}


.Valikko .btn.btn-n1{
    float:right;
    margin-right: 10px;
}


.Valikko .btn.btn-n2{
    float:right;
    margin-right: 40px;
}

.Valikko .btn.btn-n3{
    float:right;
    margin-right: 40px;
}

.Valikko .btn.btn-n4{
    float:right;
    margin-right: 40px;
    
}

@media (max-width: 800px) {
  .Valikko .btn{
    width: 50px;
    height: 50px;
    font-size: small;
    
   
  }
}





.h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1cm;
  position: absolute;
  margin-left: 344px;
  margin-top: -50px;
  color: #ffffff70;
}

.ln{
  transition: all 0.3s ease;
  border: 1px solid #ffffff2f;
  border-radius: 5px;
}

.ln:hover{
  transform:scale(1.25) perspective(1px);
  border-radius: 5px;
  
}


.ln.ln-1{
  cursor: pointer;
  background-image: url(../images/steambackground2.png);
  width: 780px;
  height: 56px;
}


.ln.ln-2{
  cursor: pointer;
  background-image: url(../images/wowbackground1.png);
  margin-top: 10px;
  width: 780px;
  height: 56px;
}


.ln.ln-3{
  cursor: pointer;
  background-image: url(../images/checkpvp1.png);
  margin-top: 10px;
  width: 780px;
  height: 56px;
}


.ln.ln-4{
  cursor: pointer;
  background-image: url(../images/Osu!background.png);
  margin-top: 10px;
  width: 780px;
  height: 56px;
}


.ln.ln-5{
  cursor: pointer;
  background: url(../images/Myanimelistbackground.png);
  margin-top: 10px;
  width: 780px;
  height: 56px;
}



@media (max-width: 800px) {
  .ln.ln-1, .ln.ln-2, .ln.ln-3, .ln.ln-4, .ln.ln-5{
   width: 100px;
   height: 56px;
  }
}

@media (max-width: 800px) {
  .h1{
  margin-left: 0;
    
   
  }
}
